<div class="w3-container w3-margin w3-center w3-monospace w3-responsive w3-card-4">  

  <%= form_with url: "/uploads", multipart: true do |form| %>
    <%= form.file_field :file, class: "w3-button w3-section w3-blue w3-ripple" %>
    <br>
    <%= form.submit "Upload", class: "w3-button w3-section w3-blue w3-ripple" %>
  <% end %>

  <% @purchases.each do |pur| %>
      <b><%= pur.count %></b>
      <br />
  <% end %>
    
  
    <table class="w3-table-all w3-margin-right w3-margin-bottom">
      <tr>
        <th>Purchaser Name</th>
        <th>Item Description</th>
        <th>Item Price</th>
        <th>Purchase Count</th>
        <th>Merchant Address</th>
        <th>Merchant Name</th>
      </tr>
      <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
        <td>94</td>
      </tr>
      <tr>
        <td>Adam</td>
        <td>Johnson</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
        <td>67</td>
      </tr>
    </table>
  
  <p class="w3-large">Total income:</p>
  <p class="w3-large">Total income all the time:</p>
</div>
